*.o
*.dSYM
*.csv
*.out
*.png
*.so
*.suo
*.db
*.opendb
*.user
*.pdb
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
#darknet
x64/
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
